body 
 {
 font-family: Arial;
  background: rgba(238, 251, 254, 0);
  background-image: linear-gradient(90deg, black, rgb(219, 219, 139))
}

h1{
  text-align: center;
  margin-top: margin top;
}

form{
    width: 35rem;
    margin: auto;
    color: black;
    
}


input[type=text], input[type=password]{
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
}

.btn-div {
  text-align: center;
}

.btnlogin {
  background-color: rgb(219, 219, 139);
  color: black;
  margin-top: 20px;
  padding: 14px 200px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

  .headingsContainer{
     text-align: center;
}

   p{
    color: rgb(219, 219, 139);
}
  .mainContainer{
    padding: 16px;
}
  .subcontainer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
 .subcontainer a{
 font-size: 16px;
 margin-bottom: 12px;
}

  span.forgotpsd a{
   float: right;
   color: whitesmoke;
   padding-top: 16px;
}
   .forgotpsd a{
   color: rgb(74, 146, 235);
}
  .forgotpsd a:link{
    text-decoration: none;
}

  .register{
   color: blue;
   text-align: center;
}
   .register a:link {
    text-decoration: none;
  }

  
  @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }


  .login-container {
    background-color: black;
    border: 2px solid rgb(219, 219, 139);
    padding: 10px 0px;  
    margin: auto;
    width: fit-content;
  }

  .login-header {
    display: flex;
    width: fit-content;
    margin: auto;
  }

  .login-logo {
    height: 40%;
    width: 40%;

  }

  label {
    color: rgb(219, 219, 139);
  }